/ {
};

&pinctrl {
	i2s0_default_alt: i2s0_default_alt {
		group1 {
			psels = <NRF_PSEL(I2S_MCK, 1, 5)>,
					<NRF_PSEL(I2S_SCK_M, 1, 6)>,
			        <NRF_PSEL(I2S_LRCK_M, 1, 7)>,
			        <NRF_PSEL(I2S_SDOUT, 0, 4)>,
			        <NRF_PSEL(I2S_SDIN, 0, 5)>;
		};
	};
};

&i2s0 {
	status = "okay";
	pinctrl-0 = <&i2s0_default_alt>;
	pinctrl-names = "default";
	clock-source = "ACLK";
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	reg = <0x8000 0x1000>;
	interrupts = <8 NRF_DEFAULT_IRQ_PRIORITY>;
	status = "okay";
};

&clock{
	hfclkaudio-frequency = <11289600>;
};
